body  {
    background-color: black;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 30%;
    margin-right: 30%;
    padding: auto;
    width: auto;
    height: auto;
    font-family: 'Delius', cursive;

    
    
    

}
img {
max-width: 70px;
height: auto;

}


.postcard-header  {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    
    
}


.postcard-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 10px;
    padding-right: 10px;
   margin-right: 5%;
}


    input {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        border-bottom: 2px solid grey;
        font-family: 'Delius', cursive;
        font-size: 100%;
        


    }
.postcard-button {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 40px;
    
    
}
button{
    background-color: rgba(128, 128, 128, 0.671);
    border: none;
    padding: 5px 5px 5px 5px;
    font-family: 'Delius', cursive;
}

div {
    background-color: white;
   }
   